body {
   
    background-color: #f9f8f4; font-family: 'Inter', sans-serif; color: #1a1a1a; margin: 0;
}
.home{
    gap: 20px;
    margin-left: 400px;
}
#logo { 
    width: 50px;
    height: 50px;
}
/* #mainlandingimage img{ 
    margin-top: 10px;
    width: 100%;
    height: 700px;
    
} */
.addtocart{
    background-color: beige;
}
.addtocart:hover{
    background-color: lightblue;
}
.mainimg {
margin-top: 10px;

}
.oldmoney{
    height: 500px;
    width: 800px;
}